@import "./variables/index.module.css";

* {
  font-family: var(--font-geist-mono);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--color-dark-900);
  color: var(--text-color);
}

.container {
  max-width: 390px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

.h-screen {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.gradient-text {
  background: linear-gradient(90deg, var(--color-purple-100) 0%, var(--color-purple-900) 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
