.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerContainer > img {
  user-select: none;
}

.hidden {
  visibility: hidden;
}
