.swiperPagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swiperPaginationBullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-dark-600);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.swiperPaginationBulletActive {
  background-color: var(--color-purple-500);
}
