.hexagonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.hexagonFlatContainer {
  width: 274px;
  height: 290px;
  user-select: none;
}

.contentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contentWrapper p {
  color: var(--color-light-300);
  font-size: var(--fs-xs);
  position: absolute;
  font-family: "Sohne", sans-serif;
}

.hide {
  display: none;
}
